.close {
  all: unset;
  position: absolute;
  top: 22.5px;
  right: 2rem;
  background-color: transparent;
  cursor: pointer;

  .img {
    height: 100%;
    max-height: 70px;

    &:hover {
      color: var(--accent-color);
      transition: .2s ease-in-out;
    }
  }
}

