.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;

  .weatherTemp {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 100px;
    font-weight: 400;
  }

  .weatherLocation {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 40px;
    font-weight: 400;
  }

  .iconDataContainer {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: 25px;
  }
}