@import '../../../styles/mixins';

.form {
  width: 100%;
  background-color: var(--basic-background);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  .block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .space {

      label {
        margin-bottom: 10px;
        display: block;
        font-size: 20px;
        font-weight: 400;
        color: var(--accent-color);

      }

      .input {
        all: unset;
        min-height: 45px;
        max-width: 250px;
        width: 100%;
        border-radius: 20px;
        border: 1px solid var(--primary-color);
        background-color: var(--background);
        color: var(--font-color);
        padding: 0 10px;
        outline: 2px solid transparent;

        &:focus, &:hover {
          outline: 2px solid var(--accent-color);
          transition: .2s ease-in-out;;
          box-shadow: 0 0 6px rgba(255, 255, 0, 1), 0 0 12px rgba(255, 255, 0, 0.5);
        }

        &::placeholder {
          background-color: var(--background);
          font-size: 18px;
          font-weight: 400;
        }
      }

      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus,
      input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px var(--background) inset !important;
        -webkit-text-fill-color: var(--font-color) !important;
      }

      .textarea {
        all: unset;
        min-height: 100px;
        max-width: 250px;
        width: 100%;
        border-radius: 20px;
        background-color: var(--background);
        padding: 10px 15px;
        color: var(--font-color);
        outline: 2px solid transparent;

        &:focus, &:hover {
          outline: 2px solid var(--accent-color);
          transition: .2s ease-in-out;;
          box-shadow: 0 0 10px rgba(255, 255, 0, 1), 0 0 20px rgba(255, 255, 0, 0.5);
        }

        &::placeholder {
          background-color: var(--background);
          font-size: 18px;
          font-weight: 400;
        }
      }

      .error {
        height: 25px;
        color: #b40503;
        font-size: 20px;
        font-weight: 400;
        opacity: 100;
        margin-top: 2px;
      }
    }

    .submitBtn {
      @include button();
      margin-top: 10px;
      @media screen and (max-width: 765px) {
        padding: 0 0 2px;
        margin-top: 0;
      }
    }
  }

  .responseSuccess {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
    flex-direction: column-reverse;
    color: var(--primary-color);
    font-size: 18px;
    text-align: center;
    background-color: var(--success-color);
    padding: 15px 25px 25px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .successClose {
      color: var(--primary-color);
      font-size: 18px;
      cursor: pointer;
      border: 2px solid var(--primary-color);
      border-radius: 20px;
      padding: 5px 10px;
    }
  }

  .responseError {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
    flex-direction: column-reverse;
    color: var(--primary-color);
    font-size: 18px;
    text-align: center;
    background-color: var(--error-color);
    padding: 15px 25px 25px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .errorClose {
      color: var(--primary-color);
      font-size: 18px;
      cursor: pointer;
      border: 2px solid var(--primary-color);
      border-radius: 20px;
      padding: 5px 10px;
    }
  }

  @media screen and (max-width: 765px) {
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    padding-top: 45px;
    .block {
      height: max-content;
    }
    .responseSuccess,
    .responseError {
      width: 100%;
    }
  }


}

.hide {
  opacity: 0;
}