.appWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  background-color: var(--basic-background);
}

.theme-light {
  --primary-color: #fff;
  --accent-color: #ffff00;
  --basic-background: linear-gradient(180deg, #93cdd0 0%, #1da49d 100%);
  --background: #ebfffc;
  --font-color: #626262;
  --modal-background: #1da49d;
  --modal-border: #fff;
  --error-color: #E74C3CFF;
  --success-color: #32d201;
  background-image: var(--basic-background);
}

.theme-dark {
  --primary-color: #dbd1d1;
  --accent-color: #ffd700;
  --basic-background: linear-gradient(180deg, #222 0%, #111 100%);
  --background: #5f5f5f;
  --font-color: #e5dada;
  --modal-background: #111;
  --modal-border: #dbd1d1;
  --error-color: #E74C3CFF;
  --success-color: #208301;
  background-image: var(--basic-background);
}
