@import './../../../styles/mixins';

.root {
  @include container();
  display: flex;

  .details {
    display: flex;
    flex-direction: column;
    align-items: center;

    .block {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 650px;

      @media screen and (max-width: 830px) {
        justify-content: flex-start;
        gap: 25px;
        height: 200px;
      }
    }
  }

  .dataContainer {
    color: var(--primary-color);
    width: 100%;
  }

  @media screen and (max-width: 830px) {
    flex-direction: column;
    gap: 25px;

  }
}