@import './../../../styles/variable';
@import './../../../styles/mixins';

.root {
  @include container();

  display: flex;
  justify-content: space-between;
  flex-grow: 3;

  .info {
    height: 100%;
    width: 70%;
  }

  .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;

    .block {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      flex-grow: 1;
    }
  }
}