@import './../../../styles/variable';
@import './../../../styles/mixins';

.root {
  @include container();

  display: flex;
  justify-content: space-between;
  flex-grow: 3;

  .details {
    display: flex;
    flex-direction: column;
    align-items: center;

    .block {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      flex-grow: 1;
    }
  }

  .dataContainer {
    @include weatherDtaContainer();
  }
}