@mixin element {

  .element {
    display: flex;
    flex-direction: column;
    align-items: center;

    .data {
      font-size: 42px;
      font-weight: 400;
      display: flex;
      align-items: center;
      gap: 16px;

      .icon {
        margin-top: 10px;
      }
    }

    .text {
      font-size: 20px;
      font-weight: 400;
    }
  }
}

@mixin details($width: 240px, $height: 160px) {
  width: 100%;
  max-width: $width;
  height: 100%;
  max-height: $height;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 2px solid white;
  border-radius: 40px;
  margin-top: 25px;
  text-align: center;
}