$primary-color: #fff;
$accent-color: #ffff00;
$basic-background: linear-gradient(180deg, #93cdd0 0%, #1da49d 100%);
$background: #ebfffc;
$font-color: #626262;
$error: rgba(231, 76, 60, 1);
$transition: .2s ease-in-out;