@import './../../../styles/variable';
@import './../../../styles/mixins';

.root {
  @include container();
  height: 78px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $primary-color;
  margin: 10px 0 25px;

  .timeBox {
    width: 100%;
    max-width: 230px;
    height: 100%;
    max-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $accent-color;
    font-size: 22px;
    font-weight: 400;
    border: 2px solid $primary-color;
    border-radius: 40px;
    margin: 0 0 10px;
  }
}

