@import './../../../styles/variable';
@import './../../../styles/mixins';

.root {
  @include container();
  height: 78px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $primary-color;
  margin: 10px 0 25px;
}

