@import '../../../styles/mixins';

.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 78px;
  position: relative;

  .timeBox {
    @include details(120px, 70px);
    margin-top: 0;
  }
}

