@import './../../../styles/variable';

.root {
  width: 100%;
  height: 100%;
  background-color: $basic-background;
  display: flex;
  flex-direction: column;

  .close {
    display: flex;
    justify-content: flex-end;
  }

  .option {
    list-style-type: none;
    font-size: 30px;
    font-weight: 400;
    color: $accent-color;
    display: flex;
    gap: 25px;
    width: 100%;
    height: 100%;

    &:hover,
    &:focus,
    &.active {
      color: $primary-color;
      cursor: pointer;
    }

    .value {
      opacity: 0;

      &.active {
        opacity: 100;
      }
    }
  }
}