@import './../../../styles/mixins';

.root {
  @include container();
  height: 78px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  margin: 25px 0 10px;
  border-top: 1px solid var(--primary-color);
  padding-top: 25px;

  .dataSource {
    @include font($max: 20);

    a {
      text-decoration: none;
      color: var(--accent-color);

      &:hover {
        color: var(--primary-color);
      }
    }
  }

  @media screen and (max-width: 570px) {
    flex-direction: column;
    text-align: center;
    height: 120px;
  }
}