@import './../../../styles/variable';

.root {
  width: 100%;
  background-color: $basic-background;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 100px;

  .option {
    list-style-type: none;
    font-size: 30px;
    font-weight: 400;
    color: $accent-color;
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid red;
    min-width: 150px;
    min-height: 60px;

    &:hover,
    &:focus,
    &.active {
      color: $primary-color;
      cursor: pointer;
    }

    .value {
      border: 1px solid red;
      opacity: 0;

      &.active {
        opacity: 100;
      }
    }
  }
}